<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline:  </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>FlightNo: </div>
    <div><%= flight.flightNo %></div>
    <div>Depart: </div>
    <div><%= flight.depart %></div>
    
</section>

<%- include('../partials/footer') %>