<%- include('../partials/header') %>

<section id="show-page">
    <div>Airline:  </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>FlightNo: </div>
    <div><%= flight.flightNo %></div>
    <div>Depart: </div>
    <div><%= flight.departs %></div>
    
    <table id="list-of-destinations">
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arival Date</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
</section>


<button><a href="/tickets/new/<%= flight._id %>">ADD TICKET</a></button>

<!-- implementing destinations  -->
<br><br><h2>Add New Destination</h2>
<form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Destintion Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">SAN</option>
  </select>

  
  <label>Arrival:</label>
  <input type="date" name="arrival">
  <input type="submit" value="Add Destinations">
</form>




<%- include('../partials/footer') %>